<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--add key="ConnectionString" value="workstation id=A;packet size=4096;user id=sa;pwd=sa;data source=192.168.0.1;persist security info=False;initial catalog=XGDB;" /-->
		<add key="ConnectionString" value="workstation id=A;packet size=4096;user id=sa;pwd=sa;data source=127.0.0.1;persist security info=False;initial catalog=XGDB;" />
		<add key="LatencyTime" value="9000" />
		<!--<add key="Client" value="0" />-->
		<add key="ShowLogForm" value="false" />
		<add key="LogCommFail" value="true" />
		<add key="LogCommIO" value="true" />
		<add key="GrRDCycle" value="30" />
		<add key="XgRCCycle" value="120" />
		
		<add key="GrOSTCollStName" value="" />
		<add key="ListenPort" value="9001" />
		<add key="ServerIP" value="10.110.51.1" />
		<add key="MCS" value="true" />
		<add key="AlarmWaveFile" value="C:\WINNT\Media\Windows 启动时奏幻想空间.wav" />
	</appSettings>
</configuration>